<div id='instructions'>
  <h2><%= title(@recipe.title, "Recipes") %></h2>
  <h2><%= @recipe.title %></h2>

  <p>ingredient: <%= @instruction.ingredient %></p>
  <p>Directions: <%= @instruction.directions %></p>
  <%= link_to "New Instruction", new_recipe_instruction_path(@recipe) %>
  <%= link_to "Edit Instruction", [:edit, @recipe, @instruction] %>
  <%= link_to "Delete Instruction", [@recipe, @instruction],
     :method => :delete,
     :confirm => "Are you sure you want to delete these instructions?" %>
  <%= link_to "Back to Recipes Page", recipes_path %>
</div>
